@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');


    $cor--primaria: #fefefa;
    $cor--secundaria: #303030;
    $cor--terciaria: #CE5071;
    $fonte--primaria: 'Poppins', sans-serif;
    $fonte--secundaria: 'Montserrat', sans-serif;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: $cor--primaria;
}
.elementos__page{
    padding: 2.2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.conteudo__page{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.conteudo__page__subtitulos{
    font-family: $fonte--primaria;
    color: $cor--terciaria;
    font-size: 36px;
}
.conteudo__page__paragrafo{
    font-family: $fonte--secundaria;
    color: $cor--secundaria;
    font-size: 24px;
}
ol li{
    margin-left: 4%;
    font-size: 24px;
    font-family: $fonte--secundaria;
    color: $cor--secundaria;
}
.rodape{
    font-family: $fonte--secundaria;
    font-size: small;
    font-weight: 600;
    color: $cor--secundaria;
    background-color: $cor--terciaria;
    padding: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
}
